<div class="row">
    <h1 class="titulo">Proyectos</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h1>NombreProyecto</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequuntur ipsum suscipit culpa quos officia, harum incidunt eum quae rem. Dolorem aperiam eum dolor recusandae perspiciatis! Illum laborum quo id ullam.</p>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 parte2"> 
            <img src="../../../assets/M.png" class="img-fluid img-proyecto">
        </div>    
    </div>
</div>


