<div class="row">
    <h1 class="titulo">Habilidades</h1>
    <div class="col-sm-3 col-md-3 col-lg-3">
        <circle-progress
        [percent]="20"
        [radius]="100"
        [title]="'HTML'"
        [titleFontSize]="'20'"
        [responsive]="true"
        [showUnits]="false"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="3"
        [outerStrokeColor]="'#FFFF00'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="1000"
        ></circle-progress>
    </div>
    <div class="col-sm-3 col-md-3 col-lg-3">
        <circle-progress
        [percent]="40"
        [radius]="100"
        [title]="'Java'"
        [titleFontSize]="'20'"
        [responsive]="true"
        [showUnits]="false"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="3"
        [outerStrokeColor]="'#FFFF00'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="1000"
        ></circle-progress>
    </div>
    <div class="col-sm-3 col-md-3 col-lg-3">
        <circle-progress
        [percent]="60"
        [radius]="100"
        [title]="'Angular'"
        [titleFontSize]="'20'"
        [responsive]="true"
        [showUnits]="false"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="3"
        [outerStrokeColor]="'#FFFF00'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="1000"
        ></circle-progress>
    </div>
    <div class="col-sm-3 col-md-3 col-lg-3">
        <circle-progress
        [percent]="40"
        [radius]="100"
        [title]="'Bootstrap'"
        [titleFontSize]="'20'"
        [responsive]="true"
        [showUnits]="false"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="3"
        [outerStrokeColor]="'#FFFF00'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="1000"
        ></circle-progress>
    </div>
</div>