<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/Perfil.jpg" class="img-fluid" id="fotoperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Greco Nicolas Agustin</p>
        <p id="sb">Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mi</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sunt, dolorem. Inventore repellendus hic molestiae itaque minus suscipit rerum, quod, maxime tempora aliquid fugiat, quam perspiciatis ipsum voluptatem dolorum omnis pariatur.</p>
        </span>
    </div>
</div>