<div class="row">
    <div class="conteiner">
        <div class="logo">
            <img src="../../../assets/APLogo-20-20.png" id="logoAP"> 
        </div>
        <div class="redes">
            <a href=""><img src="../../../assets/facebook-logo-descargar-iconos-gratis-935766 (1).png"id="linkedin"></a>
            <a href=""><img src="../../../assets/pngwing.com.png" id="twitter"></a>
            <a href=""><img src="../../../assets/pngwing.com.png" id="instagram"></a>
            <a href=""><img src="../../../assets/pngwing.com.png" id="github"></a>
            <a href=""><img src="../../../assets/pngwing.com.png" id="facebook"></a>
            <button type="button" class="btn btn-outline-light">INGRESAR</button> 
        </div>
    </div>
</div>

